@{
    ViewData["Title"] = "Блог";
    Layout = "_Layout";
}
@using FinalProject_Web.Model
@model List<BlogModel>
<link href="~/css/StyleSheet.css" rel="stylesheet" />
@{
    bool isEditMode;
    if (ViewBag.IsEditMode != null && ViewBag.IsEditMode == true)
    {
        isEditMode = true;
    }
    else
    {
        isEditMode = false;
    }
}
<div class="block">
    <div class="block-header">
        <h1>Блог</h1>
    </div>
    <div class="project-container">
        @if (Model != null)
        {
            @foreach (var blog in Model)
            {
                <div class="block-container-items">
                    <div class="block-container-blog">
                        <div style="margin-left:5px">
                            <a>@blog.DateTimePublication.ToString("dd MMMM yyyy")</a>
                        </div>
                        <div class="block-item-blog">
                            <div class="form-picture-blog">
                                <a href="~/Web/BlogPostDetails?id=@blog.Id">
                                    <img src="~/img/@blog.ImageName" />
                                </a>
                            </div>
                            <a>@blog.Name</a>
                            <div class="block-text-blog">@blog.Description</div>
                        </div>
                    </div>
                    @if (isEditMode)
                    {
                        <div class="form-button" style="height:40px; display: inline-block; margin-left:5px; margin-right: 5px">
                            <img src="/img/editButton.png" alt="Изменить" class="button-ic" onclick="location.href='@Url.Action("ChangeBlogPostWindow", "Web", new { id = blog.Id})'" />
                        </div>
                        <div class="form-button" style="height:40px; display: inline-block; margin-right: 10px">
                            <img src="/img/delete.png" alt="Удалить" class="button-ic" onclick="location.href='@Url.Action("DeleteBlogPost", "Web", new { id = blog.Id})'" />
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
<div class="block-footer">
    @if (isEditMode)
    {
        <div class="form-button" style="height:40px">
            <a class="styled-button" href="~/Web/AddBlogWindow">Добавить проект</a>
        </div>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/slider_script.js"></script>